<!DOCTYPE html>
<html ng-app='cashRegister'>
<head>
  <title>Angular Cash Register</title>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-controller="cashController">

  <div class="container">
    <br><br>
      <div class="row">
         <button type="button" class="btn btn-default" ng-click="addItem('pizza', 12.99)">Pizza - $12.99</button>
        <button type="button" class="btn btn-default" ng-click="addItem('salad', 5.99)">Salad - $5.99</button>
         <button type="button" class="btn btn-default" ng-click="addItem('burger', 12.99)">Burger - $12.99</button>
         <button type="button" class="btn btn-default" ng-click="addItem('cheeseburger', 12.99)">Cheeseburger - $12.99</button>
      </div>
      <br><br>
      <div class="row">
        <div class ="col-md-6">
          <p ng-if="itemList.pizza">Pizza x{{itemList.pizza}} ({{itemList.pizza * 12.99 | number: 2}})</p>
          <p ng-if="itemList.salad">Salad x{{itemList.salad}} ({{itemList.salad * 5.99 | number: 2}})</p>
          <p ng-if="itemList.burger">Burger x{{itemList.burger}} ({{itemList.burger * 12.99 | number: 2}})</p>
          <p ng-if="itemList.cheeseburger">Cheeseburger x{{itemList.cheeseburger}} ({{itemList.cheeseburger * 12.99 | number:2}})</p>
        </div>
        <div class="col-md-6">
          <h3>Tax: {{tax | currency}} </h3>
          <h3>Subtotal: {{subTotal | currency}} </h3>
          <h3>Total: {{total | currency}} </h3>
        </div>
     </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.js"></script>
  <script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>